.form-control{
	margin-top:20px;
	margin-bottom:20px;
}
.form-login{
	margin-top:50px;
	background:#ddd;
	padding:15px;
	border-radius: 6px;
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
}
.form-button{
	width:200px;
	height:40px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}